html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title All Users
    body
        script(src="/styles/themes.js")
        include ./header.pug
        if(type == "error")
            h3(style = "color:red") #{message} 
        else 
            h2 Check out all the Squeakers in the Horde: 
            each user in output
                p 
                    | Username: #{user}

        br 
        br
        br
        a(href="/message" style= "background-color: transparent;") 
            button Go Back
        include ./footer.pug
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/clientDefault.js")
    input(type="hidden" id="name" value=`${id}`)
