doctype html
html
  script.
          function redirectToUrl() {
              const userInput = document.getElementById('Gname').value;
              const self = !{JSON.stringify(id)};
              if (userInput) {
                  const baseUrl = window.location.href;
                  let modifiedString = baseUrl.replace("chooseMousehole", "");
                  window.location.href = baseUrl + "/" + encodeURIComponent(userInput) + "~" + encodeURIComponent(self);
              } else {
                  alert('Please enter a value!');
              }
          }
  head
    include ./header.pug
    link(rel='stylesheet' href='/styles/mainStyle.css')
    title Choose MouseHole
  body
    script(src="/styles/themes.js")
    h1 Type in Chat You want to Message
    ul#messages
      each group in chatList
        li Mousehole Name: #{group.name}
        each user in group.members
          li User: #{user.username}
        br
        br
    br
    br
    br
    form(onSubmit="event.preventDefault(); redirectToUrl();" action="/choose-group" method="POST")
      input(type="text" name="GName" placeholder="Enter your group name" required)
      button(type="submit") Submit
    br
    br
    a(href="/message") 
      button Go Back
    include ./footer.pug 