html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title Contacts
    body
        script(src="/styles/themes.js")
        include ./header.pug
        p 
            each user in contacts
                p #{user}
        br
        br
        br
        a(href="/message" style= "background-color: transparent;") 
            button Go Back
        include ./footer.pug
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/clientDefault.js")
    input(type="hidden" id="name" value=`${id}`)