doctype html
html
  head
    include ./header.pug
    link(rel='stylesheet' href='/styles/mainStyle.css')
    title Create MouseHole
    script.
      function addInput() {
        const container = document.getElementById('input-container');
        const input = document.createElement('input'); // Create a new input element
        input.type = 'text';
        input.name = 'members'; // Ensure all inputs are grouped as an array
        input.placeholder = 'Enter an existing user';
        input.required = true; // Add required attribute if needed
        container.appendChild(input);
      }
  body
    script(src="/styles/themes.js")
    h1 Enter Strings
    form(action="/group" method="POST")
      input(type="text" name="GName" placeholder="Enter your group name" required)
      div#input-container
        input(type="text" name="members" value=id readonly)
        input(type="text" name="members" placeholder="Enter an existing user" required)
        input(type="text" name="members" placeholder="Enter an existing user" required)
        br
      button(type="button" onclick="addInput()") Add Another User
      button(type="submit") Submit

    br
    br
    a(href="./message") 
        button Go Back
    include ./footer.pug
