html 
    head
        link(rel='stylesheet' href='/styles/mainStyle.css')
        include ./header.pug
        title Delete User 
    body
        script(src="/styles/themes.js")
        h2 Confirm credentials to delete your account! 
        if(message)
            h4(style = "color:red") #{message} 
        form(action = "/deleteUser" method = "POST")
            input(name = "username" type = "text" required placeholder = "Username")
            br
            br
            input(name = "password" type = "password" required placeholder = "Password")
            br
            br
            button(type = "Submit") Delete
            br
            br
        include ./footer.pug