div.footer(style="font-size: 24px; text-align: center; padding: 20px;")
    p Have Questions? Email us at mousechatofficial@gmail.com

    br
    h5 Pick a Theme
    form(class = "color-picker")
        fieldset
            
            legend 
            div
                label(for="Mouse" class="visually-hidden") Mouse
                    input(type="radio" name="Theme" id="Mouse" checked)
                    Mouse

                label(for="Rat" class="visually-hidden")   Rat
                    input(type="radio" name="Theme" id="Rat")
                    Rat

                label(for="Cheese" class="visually-hidden")   Cheese
                    input(type="radio" name="Theme" id="Cheese")
                    Cheese
                
                label(for="Filed" class="visually-hidden")   Field
                    input(type="radio" name="Theme" id="Field")
                    Cheese
