doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet' href='/styles/mainStyle.css') 
    title Mousehole Messaging
  body
    script(src="/styles/themes.js")
    include ./header.pug
    ul#messages
    br
    br
    br
    
    form#form(enctype="multipart/form-data")
  
      label(for="content") Squeak:
      input#content(type="text" name="content" required placeholder="Type your squeak here...")
      button(type="submit" onclick ="playSound()") Send Squeak
    
    a(href="/message" style= "background-color: transparent;") 
        button Go Back
    include ./footer.pug
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/client_group.js")
    script.
            function playSound() {
            const audio = new Audio('https://raw.githubusercontent.com/kohlerb1/MouseChat/main/src/views/styles/Squeaky%20Toy%20Sound%20Effect.mp3');
            audio.volume = 0.15;
            audio.play();
            }