- const headerText = {"font-size": "64px", "color": "rgb(46, 44, 39)", "margin" : "0", "flex":"1", "text-align":"center","margin-left":"240px","font-family":"Georgia","font-weight":"bold", "text-decoration":"none"};
div.header(style="display: flex; align-items: center; justify-content: space-between; background-color: rgb(177, 128, 83); padding: 20px;")
  a(href ="../" style="display: flex; align-items: center; justify-content: space-between; background-color: rgb(177, 128, 83); padding: 20px; margin-left: 290px; text-decoration: none;")
    p(style=headerText) MouseChat
  img(src="https://github.com/kohlerb1/MouseChat/blob/main/src/views/images/mousechatlogo.png?raw=true", style='width:225px; height:225px;')
