- const headerText = {"font-size": "64px", "color": "rgb(46, 44, 39)", "margin" : "0", "flex":"none", "text-align":"center","font-family":"Georgia","font-weight":"bold", "text-decoration":"none"};
  a(href ="../" style="display: flex; justify-content: center; background-color: rgb(177, 128, 83); padding: 20px; text-decoration: none;")
      img(src="https://github.com/kohlerb1/MouseChat/blob/main/src/views/images/MouseChatOfficialLogo.png?raw=true", style='width:350px; height:150px;')
