- const headerText = {"font-size": "64px", "color": "rgb(46, 44, 39)", "margin" : "0", "flex":"1", "text-align":"center","margin-left":"240px","font-family":"Georgia","font-weight":"bold"};
div.header(style="display: flex; align-items: center; justify-content: space-between; background-color: rgb(177, 128, 83); padding: 20px;")
  p(style=headerText) MouseChat
  img(src="/images/mousechatlogo.png", style='width:225px; height:225px;')
