doctype html 
html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title MouseChat Homepage
        include ./header.pug

    body
        script(src="/styles/themes.js")
        h1 Welcome To MouseChat! 
        br
        br
        h3 Have an account?
        a(href="./login") 
            button Login Here!
        br
        br
        h3 New To MouseChat?
        a(href="./signup")
            button Sign Up Here!
        include ./footer.pug