doctype html 
html 
    head 
        title MouseChat Homepage
    body 
        h1 Welcome To MouseChat! 
        br
        br
        h3 Have an account?
        a(href="./login") 
            button Login Here!
        br
        br
        h3 New To MouseChat?
        a(href="./signup")
            button Sign Up Here!