html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title MouseChat Login 
    body
        script(src="/styles/themes.js")
        include ./header.pug
        if(message)
            h4(style = "color:red") #{message}
        form(action = "/login" method = "POST")
            input(name = "username" type = "text" required placeholder = "User ID")
            br
            input(name = "password" type = "password" required placeholder = "Password")
            br
            button(type = "Submit") Log in 
        br
        br
        br
        include ./footer.pug