doctype html 
html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title Message
        include ./header.pug
    
    body 
        h1 Welcome To MouseChat 
        br
        h2 message a group
        input(name = "groupname" type = "text" required placeholder = "Group name")
        a(href=`/message/group`)
            button Message group 
        br
        h2 message a single user 
        input(name = "username" type = "text" required placeholder = "Username")
        a(href=`/message/:private`)
            button Message User 
        br
        h2 message the horde
        a(href=`/message/horde`)
            button The Horde 
        br
        h2 Change User Settings 
        a(href=`/settings`)
            button Update User Settings
        br
        h2 Would you like to logout?
        a(href="/logout")
            button Logout
        br
        br
        include ./footer.pug


        