doctype html 
html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title Message
        include ./header.pug
    
    body 
        script(src="/styles/themes.js")
        h1 Welcome To MouseChat 
        br
        div(style="display:flex; align-items:left; justify-content:center;")
            img(src=pic alt="Profile Picture" style='width:150px;height:150px;margin-right:20px;')
            div(style="text-align:center;")
                div Hey #{id}, How are you doing today? 
                div Your favorite cheese is #{cheese}. 
                br
                br
            br
        br
        h2 Message A MouseHole (Group Messaging)
        input(name = "groupname" type = "text" required placeholder = "Group name")
        a(href=`/message/group`)
            button Message Group 
        br
        h2 Send A Private Squeak (Individual Messaging) 
        input(name = "username" type = "text" required placeholder = "Username")
        a(href=`/message/:private`)
            button Message User 
        br
        h2 Message The Horde (Global Messaging)
        a(href=`/message/horde/${id}`)
            button The Horde 
        br
        h2 Change User Settings 
        a(href=`/settings`)
            button Update User Settings
        br
        h2 Would you like to logout?
        a(href="/logout")
            button Logout
        br
        br
        include ./footer.pug


        