html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title Not Logged In 
    body
        script(src="/styles/themes.js")
        include ./header.pug 
        h1 You aren't logged in! Please log in to continue! 
        br 
        a(href="/login" style= "background-color: transparent;") 
            button Login Here!
        br
        br
        include ./footer.pug