html 
    head 
        title Protected Page (temp title)

    body 
        img(src=pic alt="Profile Picture")
        div Hey #{username}, How are you doing today? 
        div Want to log out?
        div 
          p 
          //add link for logout once that is established
              a(href="/logout") Logout // 
        div Want to change some user info? 
        div 
          p 
              // link for changing username, password, profile picture, etc. 