html 
    head 
        title Protected Page (temp title)

    body 
        div Hey #{username}, How are you doing today? 
        div Your favorite cheese is #{cheese}. 
        div Want to log out?
        div 
          p 
              a(href="/login") Logout 
        div Want to change your cheese? 
        div 
          p 
              a(href= "/updateUserCheese") Change Cheese 
        div Want to change your profile picture?
        div 
          p
            a(href="/updateUserPFP") Change Picture
        div Want to delete your account?
        div 
          p
            a(href="/deleteUser") Delete Account 