html 
    head 
        title Protected Page (temp title)

    body 
        div Hey #{username}, How are you doing today? 
        div Want to log out?
        div 
          p 
          //add link for logout once that is established
              a(href="/logout") Logout // 
        div Want to change some user info? 
        div 
          p 
            a(href="./deleteUser")
                button(style = "text-align:center; background:rgb(177, 128, 83); font-size:28px;color:rgb(46, 44, 39);") Delete User
            a(href="./updateUserCheese")
                button(style = "text-align:center; background:rgb(177, 128, 83); font-size:28px;color:rgb(46, 44, 39);") Update Cheese
            a(href="./updateUserPFP")
                button(style = "text-align:center; background:rgb(177, 128, 83); font-size:28px;color:rgb(46, 44, 39);") Update PFP