html 
    head
        link(rel='stylesheet' href='/styles/mainStyle.css')
        include ./header.pug 
        title Profile Settings


    body
        script(src="/styles/themes.js")
        div(style="display:flex; align-items:left; justify-content:center;")
            img(src=pic alt="Profile Picture" style='width:150px;height:150px;margin-right:20px;' id = "profile-pic" onclick ="playSound()")
            div(style="text-align:center;")
                div Hey #{id}, How are you doing today? 
                div Your favorite cheese is #{cheese}. 
                br
                br
            br
        br
        input(type="hidden" id="name" value=`${id}`)
        br
        div Want to change your cheese? 
            br
            br
            a(href="./updateUserCheese")
                button Update Cheese
            br
            br
        br
        div Want to change your name? 
            br
            br
            a(href="./updateUserName")
                button Update Name
            br
            br
        br
        div Want to change your password? 
            br
            br
            a(href="./updateUserPassword")
                button Update Password
            br
            br
        br
        div Want to Change your Profile Picture?
          p
            a(href="./updateUserPFP")
                button Update PFP
        br
        div Want to log out?
        div 
          p 
              a(href="/logout") 
                    button Logout
        br
        div Want to Delete your MouseChat account?
          p 
            a(href="./deleteUser")
                button Delete User
        br
        div Want to return to chatting?
          p 
            a(href="/message")
                button Return to Chatting
        br
        br
        br
        script.
            function playSound() {
            const audio = new Audio('https://raw.githubusercontent.com/kohlerb1/MouseChat/main/src/views/styles/Squeaky%20Toy%20Sound%20Effect.mp3');
            audio.volume = 0.15;
            audio.play();
            }
        include ./footer.pug
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/clientDefault.js")
