html 
    head
        link(rel='stylesheet' href='/styles/mainStyle.css')
        include ./header.pug 
        title Profile Settings


    body
        script(src="/styles/themes.js")
        div(style="display:flex; align-items:left; justify-content:center;")
            img(src=pic alt="Profile Picture" style='width:150px;height:150px;margin-right:20px;' id = "profile-pic" onclick ="playSound()")
            div(style="text-align:center;")
                div Hey #{id}, How are you doing today? 
                div Your favorite cheese is #{cheese}. 
                br
                br
            br
        br
        input(type="hidden" id="name" value=`${id}`)
        br
        div Want to change your cheese? 
            br
            br
            form(action = "/updateUserCheese" method = "GET")
                button(name =  type = "Submit") Update Cheese 
            br
            br
        br
        div Want to change your name? 
            br
            br
            form(action = "/updateUserName" method = "GET")
                button(name =  type = "Submit") Update Name 
            br
            br
        br
        div Want to change your password? 
            br
            br
            form(action = "/updateUserPassword" method = "GET")
                button(name =  type = "Submit") Update Password 
            br
            br
        br
        div Want to Change your Profile Picture?
          p
            form(action = "/updateUserPFP" method = "GET")
                button(name =  type = "Submit") Update Profile Picture 
        br
        div Want to log out?
        div 
          p 
              form(action = "/logout" method = "GET")
                button(name =  type = "Submit") Logout
        br
        div Want to Delete your MouseChat account?
          p 
            form(action = "/deleteUser" method = "GET")
                button(name =  type = "Submit") Delete User 
        br
        div Want to return to squeaking?
          p 
            form(action = "/message" method = "GET")
                button(name =  type = "Submit") Return to Squeaking 
        br
        br
        br
        script.
            function playSound() {
            const audio = new Audio('https://raw.githubusercontent.com/kohlerb1/MouseChat/main/src/views/styles/Squeaky%20Toy%20Sound%20Effect.mp3');
            audio.volume = 0.15;
            audio.play();
            }
        include ./footer.pug
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/clientDefault.js")
