html
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        title Signup 
    body
        script(src="/styles/themes.js")
        include ./header.pug
        h2 Welcome to MouseChat! 
        h3 Please Fill out the Information Below to Complete the Sign Up Process.
        if(message)
            h4(style = "color:red") #{message} 
        form(action = "/signup" method = "POST" enctype="multipart/form-data")
            input(name = "username" type = "text" required placeholder = "Username")
            br
            input(name = "password" type = "password" required placeholder = "Password")
            br
            input(name = "cheese" type = "text" required placeholder = "Favorite Cheese")
            br
            div Select a profile picture (Optional, jpg/jpeg only)
            br
            input(name="profilepicture" type="file" accept="image/jpeg,image/jpg" placeholder="Profile Picture")
            br
            button(type = "Submit") Sign Up!
            br
            br
            br
            include ./footer.pug
