html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        include ./header.pug
        title Update Username 
    body
        script(src="/styles/themes.js")
        if(message)
            h4 #{message}
        h3 Enter your new username
        form(action = "/updateUserName" method = "POST")
            br
            input(name = "username" type = "text" required placeholder = "new username")
            br
            button(name =  type = "Submit") Update Name 
        br
        br
        a(href=`/settings`)
            button Settings
        input(type="hidden" id="name" value=`${id}`)
        br
        include ./footer.pug
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/clientDefault.js")

