html 
    head 
        title Update Favorite Cheese
        include ./header.pug
    body(style = "text-align:center; background:rgb(212, 191, 157); font-size:32px;color:rgb(46, 44, 39);")
        h1(style = "text-align:center; background:rgb(212, 191, 157); font-size:32px;color:rgb(46, 44, 39);") Enter your newly realized Favorite Cheese!  
        br
        br
        h3(style = "text-align:center; background:rgb(212, 191, 157); font-size:28px;color:rgb(46, 44, 39);") Have an account?
        a(href="./login") 
            button(style = "text-align:right; background:rgb(177, 128, 83); font-size:28px;color:rgb(46, 44, 39);") Login Here!
        br
        br
        h3(style = "text-align:center; background:rgb(212, 191, 157); font-size:28px;color:rgb(46, 44, 39);") New To MouseChat?
        a(href="./signup")
            button(style = "text-align:center; background:rgb(177, 128, 83); font-size:28px;color:rgb(46, 44, 39);") Sign Up Here!
        include ./footer.pug




    body 
        h2 Enter your newly realized Favorite Cheese! 
        if(message)
            h4 #{message} 
        form(action = "/updateUserCheese" method = "POST")
            input(name = "username" type = "text" required placeholder = "Username")
            input(name = "password" type = "password" required placeholder = "Password")
            input(name = "cheese" type = "text" required placeholder = "Favorite Cheese")
            button(type = "Submit") Update