html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        include ./header.pug
        title Update Password 
    body
        script(src="/styles/themes.js")
        if(message)
            h4 #{message}
        h3 Enter your new username
        form(action = "/updateUserPassword" method = "POST")
            br
            input(name = "password" type = "password" required placeholder = "new password")
            br
            button(name =  type = "Submit") Update Password 
        br
        input(type="hidden" id="name" value=`${id}`)
        form(action = "/settings" method = "GET")
            button(name =  type = "Submit") Settings 
        br
        br
        include ./footer.pug
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/clientDefault.js")


