html 
    head 
        title Update Favorite Cheese 
    body 
        h2 Enter your newly realized Favorite Cheese! 
        if(message)
            h4 #{message} 
        form(action = "/updateUserPFP" method = "POST")
            input(name = "username" type = "text" required placeholder = "Username")
            input(name = "password" type = "password" required placeholder = "Password")
            input(name = "profilepicture" type = "number" required placeholder = "1")
            button(type = "Submit") Update