html 
    head 
        link(rel='stylesheet' href='/styles/mainStyle.css')
        include ./header.pug
        title Update Username 
    body
        if(message)
            h4 #{message}
        h3 Enter your new username
        form(action = "/updateUserName" method = "POST")
            br
            input(name = "username" type = "text" required placeholder = "new username")
            br
            button(name =  type = "Submit") Update Name 
        br
        br
        br
        include ./footer.pug


