html 
    head
        link(rel='stylesheet' href='/styles/mainStyle.css')
        include ./header.pug
        title Update Profile Picture
    body
        h2 Select your new Profile Picture 
        if(message)
            h4(style = "color:red") #{message} 
        form(action = "/updateUserPFP" method = "POST" enctype="multipart/form-data")
            br
            input(name="profilepicture" type="file" accept="image/jpeg,image/jpg" required placeholder="Profile Picture")
            br
            button(type = "Submit") Update
            br
            br
            include ./footer.pug